<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="style.css" rel="stylesheet">-->
  </head>
  <body>
    <h1>Welcome, you are logged in!</h1>
    <h3>User Name: {{user.username}}</h3> 
    <br>
    <form action="/" method="post">
      
      <input type="submit">
    </form>
  </body>
</html>