<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="css/style.css" rel="stylesheet">-->
  </head>
  <body>
    <h1>Sign up Page</h1>
    <form action="/signup" method="post">
    <input type="text" name="username" placeholder="username" autofocus>
    <input type="password" name="password" placeholder="password">
    <input type="submit">
    </form>
  </body>
</html>